@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap");

:root {
  /* declare the color variable */
  /* Dark Blue */
  --primary_BlueShade_1: #006c84;
  /* Light Blue */
  --primary_BlueShade_2: #6eb5c0;
  /* Light Blue with less opacity */
  --primary_BlueShade_3: #c6d0d5;
  /* semi  Blue */
  --primary_BlueShade_3: #c6d0d5;
  /* Dark Pink */
  --secondary_PinkShade_1: #ebbec0;
  /* Light Pink */
  --secondary_PinkShade_2: #f7e9e9;

  --tertiary_ColorShade_1: #f9e0c8;

  --tertiary_Border_bottom: #e6ab6b;

  --primary_box_shadow: 0px 0px 8px -4px;

  --box_shadow_Bottom: 0 3px 8px -5px;

  --text-color-primary: #535353;
}

/* 
This is how you use the variable in the css
body { background-color: var(--primary_Color); } */

/*#region Elements Style*/
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/*#endregion Elements Style*/

/* ************************************************************************************ */
/* ************************************************************************************ */

/*#region HomePage*/

.HomePage_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1rem;
}
.heroImageContainer {
  display: none;
}

.heroImageContainer {
  display: none;
}
.mb-UserGreetingContainer {
  padding: 0 1rem;
}
.mb-UserGreetingContainer h1 {
  display: flex;
  flex-direction: column;
}

.loggedUserName {
  padding: 0 3rem;
}
.heroImageContainer img {
  border-radius: 10px;
}

.LogoContainer {
  display: flex;
  justify-content: start;
}
.text_btn_wrapper {
  background-color: var(--primary_BlueShade_1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.text_btn_wrapper h3 {
  margin: 0.3rem;
  font-weight: normal;
}

#CrossIcon i,
#CloseMsgBox i {
  font-size: 1.3rem;
  margin: 0 0.3rem;
  color: white;
}

#CloseMsgBox i {
  color: var(--primary_BlueShade_1);
}

.LogoContainer img {
  height: auto;
  width: 110px;
}

#ShowNotificationPopUp img,
#dk-ShowNotificationPopUp img {
  width: 30px;
}

.HomePage_header {
  border-bottom: 2px solid var(--tertiary_Border_bottom);
  box-shadow: var(--box_shadow_Bottom);
  margin-bottom: 0.2rem;
}

.messageboxWrapper {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid var(--primary_BlueShade_1);
  background-color: var(--secondary_PinkShade_2);
  padding: 0.5rem;
  width: 300px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}

.messageboxWrapper.showMsgbox {
  opacity: 1;
  z-index: 3;
  transform: scaleY(1);
}
.crossIconContainer {
  text-align: right;
}

#PersonalCategory,
#IndoorCategory,
#OutdoorServices,
#PremiumServices {
  cursor: pointer;
}

.homepage_main_container {
  padding: 0.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.hero_Image {
  width: 100%;
  height: 400px;
  margin: 0 1rem;
  object-fit: cover;
}
.ViewListing {
  cursor: pointer;
}

.img_info_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
}

.img_info_container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.main-category {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.img_info_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.info_wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(240, 240, 240, 0.5);
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}
.Search_field_Icon_Container input {
  border: 0;
  outline: 0;
  height: 20px;
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 80px;
  margin-right: 0.2rem;
  background-color: transparent;
}

#categories {
  height: 40px;
  padding: 0.5rem;
  border: none;
  outline: none;
  outline: none;
  border-radius: 5px;
}

#categories option {
  border-radius: 5px;
}

.feature-img p {
  text-align: center;
  display: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
}

.search-bar-container {
  background-color: var(--primary_BlueShade_2);
}
.Search_field_Icon_Container input[type="text"] {
  color: black;
  text-align: left;
  border-bottom: 2px var(--primary_BlueShade_1);
}
#SearchInputField::placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}

#categories {
  background-color: var(--primary_BlueShade_1);
  color: white;
}

.footer_Area {
  padding: 1rem 1rem 0 1rem;
  background-color: var(--primary_BlueShade_1);
  color: white;
}

.footer_Area div nav ul {
  list-style: none;
}
.footer_Area div nav ul li {
  margin-bottom: 1rem;
}

.footer_Area div nav ul li a {
  color: white;
}
.dk_footer {
  display: none;
}

.about-footer-nav1 nav ul,
.about-footer-nav2 nav ul,
.about-footer-nav3 nav ul {
  margin: 0;
}

.mb_footer {
  width: 100%;
  display: block;
  text-align: center;
}

.mb_footer p {
  margin: 0;
  padding: 1rem;
}

.about-logo img {
  width: 120px;
}

@media screen and (min-width: 600px) {
  .mb-UserGreetingContainer {
    display: none;
  }
  .dk-WelcomeUser {
    color: var(--primary_BlueShade_1);
    margin: 0;
  }

  .loggedUserName {
    padding: 0;
  }

  .img_info_container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  .navigation-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    background-color: pink;
  }
  .main-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    gap: 1rem;
    margin-top: 0;
    padding: 1rem;
  }

  #SearchInputField {
    text-align: center;
  }
  .heroImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mb_footer {
    display: none;
  }

  .dk_footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

.homepage_main_container {
  padding: 0.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.hero_Image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.img_info_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
}

.img_info_container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.main-category {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.img_info_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.info_wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(240, 240, 240, 0.5);
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

#categories {
  height: 40px;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
}

.feature-img p {
  text-align: center;
  display: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
}
.Search_field_Icon_Container input[type="text"] {
  border-bottom: 4px solid var(--primary_BlueShade_1);
}

@media screen and (min-width: 600px) {
  .img_info_container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  .navigation-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    background-color: pink;
  }
  .main-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    gap: 1rem;
    margin-top: 0;
    padding: 1rem;
  }
  .search-bar-container {
    background-color: var(--primary_BlueShade_2);
  }

  #categories {
    background-color: var(--primary_BlueShade_1);
    color: white;
  }
  .heroImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*#endregion HomePage*/

/* ************************************************************************************ */
/* ************************************************************************************ */

/*#region Navigation*/
.mb-menu-text {
  color: var(--primary_BlueShade_1);
}
.mb-menu a {
  margin-right: 7px;
}
.mb-menu ul {
  padding: 0;
  list-style: none;
  margin: 2px;
}
.mb-menu li {
  display: flex;
  align-items: center;
  padding: 0px;
}

.mb-menu ul li {
  padding: 0.5rem;
  margin-bottom: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #b6babb;
}

.mb-menu li a {
  text-decoration: none;
  color: var(--primary_BlueShade_1);
}

.mb-menu {
  background-color: var(--secondary_PinkShade_2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: grid;
  position: absolute;
  padding: 0;
  opacity: 0;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(0%);
  width: 300px;
  right: 16px;
  z-index: -1;
}
.mb-menu nav {
  padding: 0;
  margin: 0;
}

.menu_active {
  opacity: 1;
  z-index: 2;
  transform: translateY(1%);
}

.NotificationPopUp {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(256, 256, 256, 0.7);
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.ownerNotification,
.customerNotification {
  padding-bottom: 0.2rem;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}

.viewbtnWrapper {
  text-align: right;
}

.viewbtnWrapper a {
  padding: 0.4rem 1rem;
  cursor: pointer;
  background-color: var(--primary_BlueShade_1);
  color: white;
  margin: 1rem 0;
  border-radius: 0.25rem;
}

.viewbtnWrapper a:hover {
  box-shadow: var(--primary_box_shadow);
}

.ownerNotification:hover,
.customerNotification:hover {
  background-color: var(--secondary_PinkShade_2);
}

.Notification_id1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  border-bottom: 5px solid var(--primary_BlueShade_1);
}

.Notification_wrapper {
  position: relative;
  border-radius: 0.4rem;
}

.NotificationPopUpContainer {
  position: absolute;
  margin: 0 1rem;
  display: flex;
  flex-flow: column nowrap;
  opacity: 0;
  z-index: -1;
  top: 0;
  right: 0;
  width: 370px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  transition: all 0.5s ease-in-out;
  transform: translateY(0%);
  background-color: rgba(256, 256, 256, 0.3);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.NotificationPopUpContainer.popUPActive {
  opacity: 1;
  transform: translateY(1%);
  z-index: 2;
}

.triangle {
  background-color: transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 57px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary_BlueShade_1);
}

.Menu_BellIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu_BellIconContainer a {
  margin: 0 0.5rem;
  color: var(--primary_BlueShade_1);
  padding: 0.5rem 0.5rem;
}

#ShowMenu {
  color: white;
  border: 1px solid var(--primary_BlueShade_1);
  background-color: var(--primary_BlueShade_1);
  padding: 0.2rem;
  border-radius: 2px;
}

.dk-menu {
  display: none;
}
.ProfileIcon {
  font-size: 1.5rem;
}

.subProfileMenu {
  position: absolute;
  right: 5px;
  top: 40px;
  margin-top: 1.5rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0.2rem 0 0.2rem;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.subProfileMenu.activeProfileMenu {
  opacity: 1;
  z-index: 2;
}

.subProfileMenu ul {
  display: flex;
  flex-direction: column;
}
.subProfileMenu ul li {
  border-bottom: 1px solid var(--primary_BlueShade_1);
}

.dk-menu {
  display: none;
}
.ProfileIcon {
  font-size: 1.5rem;
}

.subProfileMenu {
  position: absolute;
  right: 5px;
  top: 40px;
  margin-top: 1.5rem;
  background-color: white;
  border: 1px solid var(--primary_BlueShade_1);
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0.2rem 0 0.2rem;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.subProfileMenu.activeProfileMenu {
  opacity: 1;
  z-index: 2;
}

.subProfileMenu ul {
  display: flex;
  flex-direction: column;
}
.subProfileMenu ul li {
  border-bottom: 1px solid var(--primary_BlueShade_1);
}

@media screen and (min-width: 600px) {
  .NotificationPopUpContainer {
    width: 450px;
    position: absolute;
    top: 15%;
    right: 0;
    z-index: -1;
  }
  .mb-menu {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: -1;
  }
  .menu_active {
    z-index: 2;
  }
}

@media screen and (min-width: 1000px) {
  .Menu_BellIconContainer {
    display: none;
  }
  .NotificationPopUpContainer {
    right: 35px;
    z-index: -1;
  }
  .dk-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dk-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    height: 100%;
  }

  .dk-menu ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dk-menu ul li a {
    color: var(--primary_BlueShade_1);
    font-size: 1.2rem;
  }

  .subProfileMenu ul li {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 0.5rem;
  }
  .triangle {
    right: 33px;
  }
  .mb-menu {
    z-index: -1;
    opacity: 0;
  }
  .menu_active {
    z-index: 2;
  }
}

/*#endregion Navigation*/

/* ************************************************************************************ */
/* ************************************************************************************ */

/* #region ForgetPassowrd */
.fg-Password-parent {
  display: flex;
  height: 100vh;
  background: url("https://picsum.photos/1200/500?random=11");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fg-Password-wrapper,
.generate_passwordDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}
.generate_passwordDiv {
  display: none;
  padding: 1rem;
}
.generate_passwordDiv.activeState {
  display: flex;
}

.fg-Password-wrapper.nonactiveState {
  display: none;
}

.fg-Password-parent input {
  border: none;
  border-bottom: 1px solid darkcyan;
  outline: none;
  margin: 0;
}
.icon_input_wrapper {
  margin: 1rem 0 0 0;
}
/* 1rem 0 0 0 */
.fg-Password-parent i {
  border-bottom: 1px solid darkcyan;
  padding: 2px;
  color: darkcyan;
}

.fg-Password-wrapper h1 {
  color: black;
  padding: 1rem;
  margin: 0;
}
.fg-Password-buttons,
.fg-GeneratePassword-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SendOTPBtn {
  margin: 0 auto;
}

.fg-Password-buttons.hiddenBtn {
  display: none;
}
.SendOTPBtn.SendOTPhidden {
  display: none;
}

.OTP-wrapper input,
.OTP-wrapper span {
  width: 20px;
  margin: 0 0 0.5rem 0;
}

.OTP-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: none;
}

.OTP-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.OTP-wrapper.otpdiv_active {
  opacity: 1;
  display: flex;
}

.fg-Password-wrapper button,
.fg-GeneratePassword-buttons button {
  background-color: darkcyan;
  color: white;
  border: 1px solid darkcyan;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
}
#field_1,
#field_2,
#field_3,
#field_4 {
  text-align: center;
}

/* #endregion ForgetPassword */

/* ************************************************************************************ */
/* ************************************************************************************ */

/*#region Splash Screen*/
.ProgressBarWrapper {
  width: 100%;
  height: 100vh;
}

.progress_bar_container {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 10px;
  width: 100px;
  background-color: black;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 3px -3px black;
  box-shadow: 0 4px 3px -3px black;
}

.progressbar {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  -webkit-animation: animate_progressbar 5s normal;
  animation: animate_progressbar 5s normal;
}

.splash_screen_wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progressBar {
  background-color: black;
  width: 100px;
  height: 10px;
  border-radius: 20px;
}

@-webkit-keyframes animate_progressbar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@keyframes animate_progressbar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .ProgressBarWrapper {
    background: url("../img/Splash_Screen.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*#endregion Splash Screen*/

/* ************************************************************************************ */
/* ************************************************************************************ */

/*#region Login*/

.login-body {
  overflow: hidden;
}

.login-body::-webkit-scrollbar {
  display: none;
}

.login-parent {
  height: 100vh;
  background: url("../img/Login_SignUp_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-grid h2 {
  font-size: 2.25rem;
}

.icon_input_wrapper {
  display: flex;
}

.icon_input_wrapper input {
  padding-left: 2%;
}

/* Style and horizontally align the wrapper div */
.login-wrapper {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1.5rem;
  background-color: white;
  box-shadow: var(--primary_box_shadow);
}

/*Style the input fields*/
.login-wrapper input {
  border: none;
  border-bottom: 1px solid var(--primary_BlueShade_2);
  outline: none;
  width: 100%;
}

/* Style the icons*/
.icon_input_wrapper .iconify {
  /* border-bottom: 1px solid var(--primary_BlueShade_2); */
  padding: 2px;
  color: var(--primary_BlueShade_1);
  font-size: 1.7rem;
}

/*Style the links like forgot password and signup*/
.login-wrapper a {
  color: var(--primary_BlueShade_1);
}

/*Center align elements inside the form*/
.login-email,
.login-password,
.login-wrapper h1 {
  text-align: center;
}

/* Aligning main heading*/
.login-wrapper h1 {
  margin-bottom: 3rem;
  padding-top: 1rem;
}

/*Aligning email input field*/
.login-email,
.login-password {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.login-password {
  margin-top: 2rem;
}

.login-forgot {
  margin-top: 1rem;
}

/*Align the login button and links*/
.login-buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

/*Aligning content inside the button*/
.login-buttons button {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Aligns forgot password link to right*/
.login-buttons span:first-of-type {
  align-self: flex-end;
  padding-right: 1rem;
}

/*Styling login button*/
.login-buttons button:nth-of-type(1),
.login-desktop button,
#signUpBtn {
  background-color: var(--primary_BlueShade_1);
  color: white;
  border: 1px solid var(--primary_BlueShade_1);
  border-radius: 5px;
  padding: 0.25rem 2rem;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.link-icon {
  color: white;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*Center align sign up link*/
.login-buttons span:nth-of-type(2) {
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.login-desktop h1,
.login-desktop h2 {
  color: var(--primary_BlueShade_1);
}

.login-forgot {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .login-desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .login-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .login-desktop {
    display: flex;
    flex-flow: column wrap;
    place-self: center;
    text-align: center;
  }

  .login-grid img:nth-of-type(2) {
    margin-top: 2rem;
  }

  .login-parent {
    background-image: none;
    background-color: var(--primary_BlueShade_1);
  }

  .login-wrapper {
    max-width: 1200px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*#endregion Login*/

/* ************************************************************************************ */
/* ************************************************************************************ */

/*#region About Us*/

.about-wrapper {
  max-width: 100%;
}

.about-wrapper h1 {
  font-size: 4rem;
  color: var(--primary_BlueShade_1);
}

.about-wrapper h2 {
  color: var(--primary_BlueShade_1);
}

.about-team h3 {
  color: var(--primary_BlueShade_1);
  font-size: 2rem !important;
}

.about-content1 h1,
.about-content1 h2,
.about-content1 p {
  font-style: italic !important;
}

.about-wrapper header ul {
  list-style-type: none;
  padding: 0;
}

/* .about-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.about-content1-wrapper {
  padding: 1rem;
  background-color: var(--tertiary_ColorShade_1);
  padding-bottom: 2.5rem;
}

.about-content2,
.about-choose-item1,
.about-choose-item2,
.about-choose-item3,
.about-choose-item4 {
  background-color: var(--primary_BlueShade_3);
  padding: 1rem;
}

.about-content1 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.about-content1-content {
  text-align: center;
}

.about-content1-content p {
  margin-bottom: 0;
}

.about-content2 p {
  text-align: center;
}

.about-content1 img {
  width: 100%;
  height: auto;
  place-self: center;
  padding-left: 2rem;
}

.about-wrapper h2 {
  text-align: center;
}

.about-content1 h2 {
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem !important;
  color: black;
}

.about-content1 button {
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  color: white;
  background-color: var(--primary_BlueShade_1);
  border: none;
  border-radius: 5px;
  box-shadow: var(--box_shadow_Bottom);
}

.about-content1-content p {
  margin-bottom: 2rem;
}

.about-choose-item2,
.about-choose-item4 {
  float: right;
}

.about-choose-item1,
.about-choose-item3,
.about-team,
.about-wrapper h2:last-of-type {
  clear: both;
}

.about-content2 {
  padding: 3rem 1rem;
}

.about-choose-item1,
.about-choose-item2,
.about-choose-item3,
.about-choose-item4 {
  border-radius: 10px;
  margin: 2rem 2rem;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
}

.about-choose-item1 span i,
.about-choose-item2 span i,
.about-choose-item3 span i,
.about-choose-item4 span i {
  margin-right: 1rem;
}

.about-wrapper h2:not(:first-of-type) {
  padding-top: 2rem;
}

/* .about-team {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.about-team-image1 {
  grid-column: 1/-1;
} */

.about-team p {
  /* text-align: center; */
  font-weight: bold;
}

/* .about-team img {
  border-radius: 50%;
} */

.about-team {
  justify-items: center;
}

.about-team-wrapper h2 {
  padding-top: 2rem;
}

.about-manager,
.about-designers p,
.about-developers p {
  text-align: center;
}
.about-team-subdiv {
  width: 100%;
}

.about-designers,
.about-developers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  justify-items: center;
}

.about-team-wrapper img {
  filter: grayscale(100%);
  border-radius: 50%;
}

.about-designers h3,
.about-developers h3 {
  grid-column: 1/-1;
}

.about-choose .iconify {
  padding-right: 1rem;
  font-size: 1.7rem;
}

@media screen and (min-width: 740px) {
  .about-content1 {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 2rem 1rem;
    place-items: center;
  }

  .about-content1-content {
    justify-self: flex-end;
    text-align: left;
  }

  .about-wrapper .about-content1-content h2 {
    text-align: left;
    margin-bottom: 2rem;
  }

  .about-content1-wrapper {
    padding-bottom: 1rem;
  }

  .about-content1 button {
    margin-bottom: 0;
  }

  .about-content1-content p {
    margin-bottom: 0.5rem;
  }
}

.about-content1-content {
  display: flex;
  flex-flow: column wrap;
}

.about-content1-content h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.about-content1-content p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.about-content1-content h2 {
  margin-bottom: 1rem;
}

/* .about-content1-content a {
  place-self: center;
} */

@media screen and (min-width: 1200px) {
  .about-content1,
  .desktop-grid,
  .about-team {
    max-width: 1400px;
    margin: 0 auto;
  }

  .about-content1 img {
    width: 80%;
    height: auto;
    padding-left: 0;
  }

  .about-content1-wrapper,
  .about-content1 {
    padding: 0;
  }

  .desktop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-content2 {
    height: 60%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-content2 p {
    place-self: center;
    text-align: left;
  }

  /* .about-team {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 4rem;
    padding-bottom: 4rem;
    grid-gap: 2rem;
  } */

  /* .about-team-image1 {
    grid-row: 1/3;
    grid-column: 1/2;
    place-self: center;
     width: 100%; 
  } */

  .about-team-image1,
  .about-team-image2,
  .about-team-image3,
  .about-team-image4,
  .about-team-image5,
  .about-team-image6,
  .about-team-image7 {
    padding: 1rem;
  }

  .about-wrapper h2 {
    font-size: 3rem;
  }

  .about-team-wrapper {
    background-color: var(--secondary_PinkShade_2);
  }

  .about-team {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .about-manager {
    place-self: center;
  }
}

/*#endregion About Us*/

/* ************************************************************************************ */
/* ************************************************************************************ */

/* #region SignUP */
.signup-parent {
  height: 100vh;
  background: url("../img/Login_SignUp_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-wrapper h1 {
  margin: 0;
  text-align: center;
}

.signup-wrapper .fa-phone {
  transform: rotateY(180deg);
}

.First_Name,
.login-password,
.login-wrapper h1 {
  text-align: center;
}
.signup-wrapper input {
  border: none;
  border-bottom: 1px solid var(--primary_BlueShade_2);
  outline: none;
  width: 100%;
}
.First_Name,
.Last_Name,
.Email,
.Password,
.Confirm_Password,
.Phone_Number,
.Address {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.mb-LoginLink {
  display: block;
}
.signup-desktop h1,
.signup-desktop h2 {
  color: var(--primary_BlueShade_1);
}
.signup-grid img:nth-of-type(2) {
  margin-top: 2rem;
}

.SignUPLoginBtn {
  color: var(--primary_BlueShade_1);
  text-decoration: underline;
}
.signup-desktop {
  display: none;
}
.signup-wrapper {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  min-width: 300px;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: var(--primary_box_shadow);
}
.signup-grid h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
}
.fa-link:before {
  color: white;
}
#SignupBtn {
  background-color: var(--primary_BlueShade_1);
  color: white;
  border: 1px solid var(--primary_BlueShade_1);
  border-radius: 5px;
}

.icon_input_wrapper {
  display: flex;
}

.icon_input_wrapper input {
  padding-left: 2%;
}
#SignUpBtn,
#LoginBtn {
  background-color: var(--primary_BlueShade_1);
  color: white;
  border: 1px solid var(--primary_BlueShade_1);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.icon-size {
  font-size: 22px;
}
/* Style and horizontally align the wrapper div */
.SignUp-wrapper {
  margin: 0 auto;
  min-width: 300px;
  border-radius: 1.5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 3px 4px gray, -3px -3px 4px lightgray;
}
.SignUp-wrapper h1 {
  text-align: center;
}

/*Style the input fields*/
.SignUp-wrapper input {
  border: none;
  border-bottom: 1px solid darkcyan;
  outline: none;
}

/* Style the icons*/
.SignUp-wrapper i {
  border-bottom: 1px solid darkcyan;
  padding: 2px;
  color: darkcyan;
}

/*Style the links like forgot password and signup*/
.SignUp-wrapper a {
  color: darkcyan;
}

/* .icon_input_wrapper input,
.icon_input_wrapper i {
  margin-bottom: 1rem;
} */

.icon_input_wrapper i {
  color: var(--primary_BlueShade_1);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--primary_BlueShade_2);
}

.SignUp-buttons {
  text-align: center;
  margin: 1rem 0;
}

#SignUpBtn {
  background-color: var(--primary_BlueShade_1);
  color: white;
  border: 1px solid var(--primary_BlueShade_1);
  border-radius: 5px;
}

.LoginLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginLink a {
  margin-left: 5px;
}

.errorContainr {
  display: none;
}

.errorContainr p {
  color: red;
  font-style: italic;
}

.errorContainr.active {
  display: block;
}

.mb-LoginLink {
  margin-top: 1rem;
}
@media screen and (min-width: 1200px) {
  .signup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .mb-LoginLink {
    display: none;
  }

  .signup-desktop {
    place-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  /* .signup-desktop img {
    padding: 3rem 2rem;
  } */
  #LoginBtn {
    width: 100px;
    margin: 0 auto;
  }
  #SignUpBtn {
    width: 100px;
    margin: 0 auto;
  }

  .signup-parent {
    background-image: none;
    background-color: var(--primary_BlueShade_1);
  }

  .signup-wrapper {
    max-width: 1200px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
}

/* #endregion SignUP */

/* ************************************************************************************ */
/* ************************************************************************************ */

/*  #region Update Profile */
.UpdateProfilePageWrapper {
  display: grid;
}

.upd_parent_wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

.upd_profile_wrapper {
  text-align: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: var(--primary_box_shadow);
}
.dk_layoutWrapper {
  display: none;
  height: 100vh;
  text-align: center;
}
.dk_layoutWrapper h1 {
  margin-bottom: 0;
}

#Home_GenieDKLogo {
  width: 100px;
  margin: 0 auto;
}

.text_logoWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#homeGenieBigLogo {
  width: 250px;
  margin: 0 auto;
  justify-content: center;
}

#Text_Logo {
  margin: 0 auto;
  width: 500px;
}

.profile_photo_Wrapper i {
  font-size: 2rem;
}

.Camera_Icon_Container {
  position: absolute;
  bottom: -5px;
}

#video,
#canvas {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 0;
  height: 0;
}

.upd_profile_wrapper form {
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 310px;
}

.upd_profile_wrapper form .label_input_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  text-align: left;
  margin-top: 0.5rem;
}

/*Style the input fields*/
.upd_profile_wrapper input {
  border: none;
  text-align: left;
  border-bottom: 1px solid var(--primary_BlueShade_1);
  outline: none;
}

.upd_profile_wrapper i {
  border-bottom: 1px solid var(--primary_BlueShade_1);
  padding: 2px;
  color: var(--primary_BlueShade_1);
}
.profileImage {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
}

#canvas,
#video {
  border: 2px solid var(--primary_BlueShade_1);
}

.profileImage a {
  font-size: 2rem;
}

#updBtn {
  background-color: var(--primary_BlueShade_1);
  color: white;
  border: 1px solid var(--primary_BlueShade_1);
  border-radius: 5px;
  padding: 0.5rem;
}

.login-password-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  align-items: center;
  margin-top: 0.5rem;
}
#Open_Camera i {
  border-bottom: none;
  font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {
  .dk_layoutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #homeLink {
    padding: 1rem;
    width: 150px;
    border-radius: 5px;
    box-shadow: var(--box_shadow_Bottom);
    text-transform: uppercase;
    margin: 0 auto;
    background-color: var(--primary_BlueShade_1);
    color: white;
  }
  .UpdateProfilePageWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .upd_parent_wrapper {
    background-color: var(--primary_BlueShade_1);
  }
}

/* #endregion Update Profile */

/* ************************************************************************************ */
/* ************************************************************************************ */

/* #region Listing Page */
.main-parent-title h2 {
  text-align: center;
}

.Category_Listing_Container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  height: 100%;
}

.card {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--secondary_PinkShade_2);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 5px;
  height: 250px;
}

.browseBtn_Container {
  margin: 1rem 0 0 0;
  text-align: right;
}

.card a {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  box-shadow: var(--primary_box_shadow);
  background-color: var(--primary_BlueShade_1);
}
.card h3 {
  text-transform: uppercase;
}

.card p {
  font-weight: bold;
}
.card p span {
  font-weight: normal;
}
@media screen and (min-width: 600px) {
  .Category_Listing_Container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .Category_Listing_Container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: auto;
  }
}

/*  #endregion Listing*/

/* ************************************************************************************ */
/* ************************************************************************************ */

/* #region Search */
#searchTitle {
  font-weight: normal;
}

.Search_Listing_Container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  justify-items: center;
}
.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  background-color: #006c84;
}

.backBtn {
  padding: 0.8rem 2rem;
  background-color: var(--secondary_PinkShade_1);
  border-radius: 5px;
  box-shadow: var(--primary_box_shadow);
}

.Create_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.Create_Button a {
  margin: 0 1rem;
}

.Create_Button button {
  border: none;
  box-shadow: var(--primary_box_shadow);
  margin: 0 1rem;
  color: white;
  padding: 0.5rem 20px;
  text-align: center;
  text-decoration: none;

  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #006c84;
}

.main-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-parent h1 {
  margin: 0.5rem 0 0 0;
  color: var(--primary_BlueShade_1);
}

.main-parent h2 {
  margin: 0.5rem 0 0 0;
  color: var(--primary_BlueShade_1);
}
.image-info {
  margin-bottom: 2rem;
}

.heading {
  font-weight: bolder;
  font-size: x-large;
}

.image-info p {
  font-size: large;
}

.listing-container {
  background-color: #f3d8d9;
  padding: 2rem;
  width: fit-content;
}
.image-info p {
  display: inline;
}

@media screen and (min-width: 600px) {
  .Search_Listing_Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: fit-content;
    justify-items: center;
    padding: 1rem;
    grid-gap: 1rem;
  }
  .image-info {
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  .Search_Listing_Container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* #endregion Search */

/* ************************************************************************************ */
/* ************************************************************************************ */

/* #region Specific Listing Page*/

.specific-wrapper {
  width: 100%;
}

.specific-wrapper img {
  width: 100%;
  height: auto;
}

.specific-heading {
  text-align: center;
}

.specific-heading h1 {
  color: var(--primary_BlueShade_1);
}

.dynamic_info_Container {
  display: flex;
  flex-direction: column;
}

.specific-heading p {
  background-color: var(--primary_BlueShade_2);
  padding: 1rem 5rem;
  box-shadow: var(--box_shadow_Bottom);
}

.specific-image {
  margin: 1rem;
}

.specific-image img {
  border-radius: 20px;
}

.specific-contact-info {
  margin: 1rem;
}

.specific-bids {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 1rem;
}

.specific-color-bottom {
  background-color: var(--secondary_PinkShade_2);
  display: block;
}

.specific-color-bottom-dk-wrapper {
  display: grid;
}

.specific-bid1,
.specific-bid2,
.specific-bid3 {
  background-color: var(--primary_BlueShade_3);
  margin: 2rem;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
  box-shadow: var(--box_shadow_Bottom);
}

.specific-desc {
  padding-top: 0;
  margin-top: 0;
  margin: 1rem;
}

.specific-contact-info {
  padding-bottom: 0;
  margin-bottom: 0;
}

.specific-bid-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.specific-bid-grid p {
  grid-column: 1/-1;
}

.specific-bid-info {
  padding-left: 2rem;
}

.specific-button-grid {
  position: absolute;
  width: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  bottom: -25px;
  left: 0;
}

.specific-button-grid button {
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box_shadow_Bottom);
  z-index: 10;
}

.specific-button-grid button:nth-of-type(1) {
  background-color: var(--primary_BlueShade_1);
  color: white;
}

.specific-button-grid button:nth-of-type(2) {
  background-color: var(--secondary_PinkShade_1);
}

.specific-red {
  color: red;
  font-weight: bold;
}

.placeBidContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
}
.bidLabelInputContainer {
  display: flex;
  box-shadow: var(--box_shadow_Bottom);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  background-color: var(--primary_BlueShade_2);
}
.IconContainer {
  background-color: var(--primary_BlueShade_1);
  padding: 0.4rem;
  border-radius: 50%;
}

.bidLabelInputContainer label {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
}

.bidLabelInputContainer input {
  width: 100px;
  color: #d17b1e;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 5px;
}

.placeBidBtnSubmit {
  background-color: var(--primary_BlueShade_1);
  color: white;
  padding: 1rem 3rem;
  border-radius: 5px;
  border: none;
  box-shadow: var(--box_shadow_Bottom);
  outline: none;
}

.specific-color-bottom.ShowOffers {
  display: block;
}

.placeBidContainer.ShowBidContainer {
  display: flex;
}

.CustomerBidAcceptContainer {
  background-color: var(--secondary_PinkShade_2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.AceeptedOfferDetailContainer {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: var(--secondary_PinkShade_2);
}

.userInfoContainer {
  background-color: var(--primary_BlueShade_3);
  padding: 1rem;
  border-radius: 5px;
}
.CongratulationTextContainer p {
  font-weight: bold;
}
.userInfoContainer label {
  font-weight: bold;
  display: inline;
}
.userInfoContainer p {
  display: inline;
}
.UserLabel_P_Wrapper {
  margin-bottom: 1rem;
}

#OfferAcceptedText {
  font-weight: bold;
  font-style: italic;
}

@media screen and (min-width: 1000px) {
  .specific-color-bottom-dk-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  .specific-image {
    margin: 1rem 0;
  }
  .specific-bids,
  .specific-grid,
  .specific-desc {
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
  }

  .specific-grid {
    display: grid;
    align-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .specific-color-top {
    background-color: var(--secondary_PinkShade_2);
    margin-bottom: 3rem;
  }

  .specific-contact-info {
    padding: 0;
    margin: 1rem 0 0 0;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, max-content);
  }

  .specific-desc p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }

  .specific-desc {
    max-width: 1000px;
  }

  .specific-heading {
    margin-bottom: 2rem;
  }

  .specific-heading p {
    max-width: fit-content;
    margin: 0 auto;
  }

  .specific-bid1,
  .specific-bid2,
  .specific-bid3 {
    margin: 0;
    position: relative;
  }

  .specific-bids {
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 4rem;
    padding-left: 0;
  }
}

/* #endregion Specific Listing Page*/

/* ************************************************************************************ */
/* ************************************************************************************ */

/* #region CreateListing */
.ListingSite-main {
  padding: 1rem;
}
form .form-class {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--secondary_PinkShade_2);
  line-height: 1.5;
  font-size: 1.5rem;
  box-shadow: var(--primary_box_shadow);
}
.form-class #category {
  border-radius: 5px;
  padding: 0.5rem;
  width: 50%;
  outline: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--text-color-primary);
  border: 1px solid var(--primary_BlueShade_1);
}

.create-user-form .heading h1 {
  color: var(--primary_BlueShade_1);
}
.requiredSymbol {
  color: red;
  margin-left: 0.5rem;
}

.create-user-form label {
  padding: 0.5rem 0;
}
.create-user-form input {
  height: 2rem;
  border: 0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-color-primary);
  outline: none;
  border-bottom: 1px solid var(--primary_BlueShade_1);
  background-color: transparent;
}
.create-user-form textarea {
  height: 3rem;
  border: none;
  margin-bottom: 0.5rem;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  color: var(--text-color-primary);
  border-bottom: 1px solid var(--primary_BlueShade_1);
}
.button-div input[type="file"] {
  color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
}
.img-payment {
  display: grid;
}
.img-payment img {
  width: 100%;
  border-radius: 5px;
}
.img-payment .img-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 2%;
  gap: 2rem;
}
.img-payment .img-clicked-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.img-payment .img-title {
  font-weight: bold;
}
.img-payment .button-div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}
.img-payment .payment {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  box-shadow: var(--primary_box_shadow);
  background-color: var(--secondary_PinkShade_2);
}
.payment .checkbox-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: row wrap;
}

.label_checkbox_wrapper {
  display: flex;
  align-items: center;
}
.paymentOptionLabel {
  font-size: 1rem;
}

.address-class p {
  margin: 0;
}

.paymentOptioninput {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.create-user-form .form1-class {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  margin-top: 2rem;
  background-color: var(--secondary_PinkShade_2);
  line-height: 1.5;
  font-size: 1.5rem;
  box-shadow: var(--primary_box_shadow);
}
.form1-class .half-form {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 2%;
}
.half-form .area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  line-height: 1.5;
}
.area .area-city,
.area-province {
  display: grid;
}
.ListingSite-main .postal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.postal input {
  width: 70%;
}
.button {
  display: flex;
  justify-content: center;
}
.form1-class span,
.payment label span,
form label span {
  color: rgb(248, 94, 94);
}
#create-btn {
  font-size: 22;
  border-radius: 5px;
  border: 0;
  padding: 0.8rem 2rem;
  color: white;
  background-color: var(--primary_BlueShade_1);
}
.ListingSite-main .iframe {
  display: none;
}
.ListingSite-main footer {
  display: none;
}

.postal {
  margin-top: 1rem;
}

.MapsContainer {
  margin-top: 2rem;
}

@media screen and (min-width: 1000px) {
  .create-user-form {
    max-width: 1000px;
    margin: 0 auto;
  }

  .ListingSite-main .heading {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ListingSite-main .section-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .ListingSite-main .section-two {
    display: grid;
    grid-template-columns: 48% 1fr;
    gap: 2rem;
  }
  .create-user-form .form1-class {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
  }
  .ListingSite-main .half-form {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    margin: 1rem 0;
    justify-content: space-between;
  }
  .ListingSite-main .area {
    align-items: flex-end;
  }
  .ListingSite-main .postal {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
  }

  .payment .checkbox-buttons {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: space-between;
  }

  .payment .checkbox-buttons .label_checkbox_wrapper {
    justify-content: center;
  }
}

/* #endregion CreateListing */

/* ************************************************************************************ */
/* ************************************************************************************ */
